{% extends 'base.html' %}

<!-- Head Tag Block -->
{% block head %}

{% endblock %}

<!-- Body Tag Block -->
{% block body %}
<div class="container">
    <h3>About Us</h3>
    <p>This is our final year project for BTech. We are students of Dr. Vishwanath Karad MIT World Peace University, Kothrud, Pune</p>
    <p>
        This project is proceeding under the guidance of Prof.  Ruhi Patankar,<br>
        by,<br>
        Deepesh Singh <br>
        Govind Somani<br>
        Purab Jain<br>
        Sugandh Kumar<br>
    </p>

</div>

    <style>
    .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 150px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}
    </style>
{% endblock %}